<!DOCTYPE html>
<html>
<head>
  <title>InfSecTester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style = "text-align: right;">
    <%= link_to 'В начало', controller: :nobody, action: :start_page %>
    <%= link_to 'Выход', controller: :nobody, action: :logout %>
  </div>  
<%= yield %>

</body>
</html>
